/* Hide the image */
.sidebar-header img {
  display: none;
}

/* Show your own background image */
.sidebar-header a:before {
  content: "";
  display: block;
  width: 120px;
  height: 30px;
  background-image: url("../public/logo/dazn-logo-black.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

/* Dark mode override */
html.dark .sidebar-header a:before {
  background-image: url("../public/logo/dazn-logo-white.svg");
}
