/* DAZN Oscine Font Family */
@font-face {
  font-family: "DAZN Oscine";
  src: url("/fonts/DAZN_Oscine_W_Rg.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "DAZN Oscine";
  src: url("/fonts/DAZN_Oscine_W_Bd.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "DAZN Oscine";
  src: url("/fonts/DAZN_Oscine_W_BdIt.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "DAZN Oscine";
  src: url("/fonts/DAZN_Oscine_W_Lt.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* DAZN Trim Font Family */
@font-face {
  font-family: "DAZN Trim";
  src: url("/fonts/DAZNTrim-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "DAZN Trim";
  src: url("/fonts/DAZNTrim-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "DAZN Trim";
  src: url("/fonts/DAZNTrim-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "DAZN Trim";
  src: url("/fonts/DAZNTrim-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "DAZN Trim";
  src: url("/fonts/DAZNTrim-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* DAZN Trim Condensed */
@font-face {
  font-family: "DAZN Trim Condensed";
  src: url("/fonts/DAZNTrimCondensedDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "DAZN Trim Condensed";
  src: url("/fonts/DAZNTrimCondensedText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
